div.ComparableSelect {
  margin: 0;
}

.ComparableSelect select {
  width: auto;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 1rem;
}

.ComparableSelect label {
  margin: 0;
}
